* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .container {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 320px;
    padding: 16px;
    text-align: center;
  }
  
  .qrcode {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .txt1 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 12px;
  }
  
  .txt2 {
    font-size: 0.8rem;
    color: gray;
    margin-bottom: 0;
  }

  .txt1, .txt2 {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
    color: hsl(228, 12%, 44%);
  }
  
  .attribution a {
    color: hsl(212, 54%, 55%);
    text-decoration: none;
  }
  
  
  @media (max-width: 375px) {
    .container {
      width: 90%;
    }
  
    .txt1 {
      font-size: 1rem;
    }
  
    .txt2 {
      font-size: 0.8rem;
    }
  }
  